# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Build
build/
dist/

# IDE
.idea/