.progress{

height:22px;

border-radius:10px;

}

.progress-bar{

font-weight:bold;

}

.status-good{

color:green;

font-weight:bold;

}

.status-low{

color:red;

font-weight:bold;

}

.table{

margin-top:30px;

}

.card{

border:none;

border-radius:18px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}